/* Login screen style */
.loginContainer{
    display: grid;
    place-content: center;
    height: 100vh;
}
.login__screen{
    width: 450px;
}

.form-input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}

.username-label{
    display: block;
    margin-bottom: 5px;
}

/* CTA Styling */
.cta{
    display: block;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

/* Content */
.content{
    max-width: 1200px;
    margin: 0 auto;
}

/* Game design */
.game-title{
    text-transform: uppercase;
}

.game{
    display: block;
    width: 100%;
    height: 250px;
    background-color: #414141;
    border-radius: 10px;
    padding: 35px;
}

.container{
    position: relative;
    display: grid;
    place-content: center;
    height: 300px;
}

.game__item{
    background-color: #414141;
    position: absolute;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    width: 350px;
}

.game__item--1{
    z-index: 1;
}

.item-drop{
    border: 1px dashed #ccc;
    height: 300px;
}

.item-drop.fail{
    border-color: var(--danger-color);
}

.item-drop .game__item{
    display: none;
}